@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Default.cshtml";
}
@section Head{
    <style type="text/css">
        #changePasswordForm
        {
            width: 670px;
        }
    </style>
}
@section Navigation{
    @RenderPage("~/Views/Shared/NavigationPartial.cshtml", new { control = "userInfo" })
}
@section NavigationItems{
    @RenderPage("~/Views/Shared/NavigationItemPartial.cshtml", new { control = "userInfo", action = "changepassword" })
}
@using (Html.BeginForm("ChangePassword", "userInfo", FormMethod.Post, new { id = "changePasswordForm", @class = "cmxform" }))
{
    <fieldset>
        <legend>修改密码</legend>
        @Html.ValidationSummary()
        <p>
            <span style="color: Red">
                @{
   string msg = ViewData["msg"] as string;
                }
                @msg
            </span>
        </p>
        <p>
            <span class="red">*</span>
            <label>
                旧密码
            </label>
            <input type="password" id="oldPassword" name="oldPassword" />
        </p>
        <p>
            <span class="red">*</span>
            <label>
                新密码
            </label>
            <input type="password" id="newPassword" name="newPassword" />
        </p>
        <p>
            <span class="red">*</span>
            <label>
                确认密码
            </label>
            <input type="password" id="confirmPassword" name="confirmPassword" />
        </p>
        <p>
            <input type="submit" class="submit" value="确定" />
            <input type="reset" value="重写" />
        </p>
    </fieldset>
}
@section Script{
    <script type="text/javascript">
        $(function () {
            $("#changePasswordForm").validate({
                rules: {
                    oldPassword: {
                        required: true,
                        remote: {
                            url: urlPrefix + "userinfo/checkPassword",
                            type: "post"
                        }
                    },
                    newPassword: {
                        required: true,
                        rangelength: [6, 20]
                    },
                    confirmPassword: {
                        required: true,
                        equalTo: "#newPassword"
                    }
                },
                messages: {
                    oldPassword: {
                        required: "请输入原始密码",
                        remote: "原始密码不正确"
                    },
                    newPassword: {
                        required: "请输入密码",
                        rangelength: jQuery.format("{0}-{1}个字符(包括英文字母、数字、符号)，区分大小写")
                    },
                    confirmPassword: {
                        required: "请再输入一遍您上面输入的密码",
                        equalTo: "两次密码不符，请重新输入"
                    }
                }
            });
        });
    </script>
}
