<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <properties resource="Somnus.Loginstic.mysqlmap.properties.config"/>

  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>

  <providers embedded="SomnusLogistic.Dao.providers.config,SomnusLogistic.Dao"/>

  <database>
    <provider name="MySql"/>
    <!--<dataSource name="SomnusLogistic" connectionString="Server=${datasource}; User ID=${userid};Password=${password};Database=${database};Persist Security Info=True"/>-->
    <dataSource name="SomnusLogistic" connectionString="server=${datasource};port=3306;user id=${userid};password=${password};database=${database};CharSet=utf8;allow zero datetime=true;Convert Zero Datetime=true;"/>
  </database>

  <sqlMaps>
    <sqlMap embedded="${root}UserInfo.xml, ${assymbly}"/>
    <sqlMap embedded="${root}Customer.xml, ${assymbly}"/>
    <sqlMap embedded="${root}Transport.xml, ${assymbly}"/>
    <sqlMap embedded="${root}Cost.xml, ${assymbly}"/>
  </sqlMaps>

</sqlMapConfig>
