<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    
    <component
          id="IUserInfoDao"
          service="SomnusLogistic.Dao.MySql.Inter.IUserInfoDao, SomnusLogistic.Dao"
          type="SomnusLogistic.Dao.MySql.Impl.UserInfoDao, SomnusLogistic.Dao" />
    
    <component
        id="ICustomerDao"
        service="SomnusLogistic.Dao.MySql.Inter.ICustomerDao, SomnusLogistic.Dao"
        type="SomnusLogistic.Dao.MySql.Impl.CustomerDao, SomnusLogistic.Dao" />

    <component
    id="ITransportDao"
    service="SomnusLogistic.Dao.MySql.Inter.ITransportDao, SomnusLogistic.Dao"
    type="SomnusLogistic.Dao.MySql.Impl.TransportDao, SomnusLogistic.Dao" />

    <component
id="ICostDao"
service="SomnusLogistic.Dao.MySql.Inter.ICostDao, SomnusLogistic.Dao"
type="SomnusLogistic.Dao.MySql.Impl.CostDao, SomnusLogistic.Dao" />

  </components>
</configuration>
