<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <add key="userid" value="root" />
  <add key="password" value="somnus" />
  <add key="database" value="Logistic" />
  <add key="datasource" value="localhost" />
  <add key="root" value="SomnusLogistic.Dao.MySqlMaps." />
  <add key="assymbly" value="SomnusLogistic.Dao" />
</settings>

